@charset "utf-8";
// If need, change your variables before importing Bulma
$dark: #333333;
$light: #F4F5F0;
$red: #CD212A;
$green: #008C45;
$label: $green;

$primary: $green;
.brand-title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: $red
}

.header {
    padding-bottom: 1.25em;
    padding-top: 1.25em;
}

.homepage-title {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 1.25em;
    padding-top: 1.25em;
}

.intro-paragraph {
    padding-bottom: 1.25em;
}

.order-now-button {
    padding-top: 1.25em;
}

.header-menu {
    font-size: 1.5em;
    text-align: center;
    color: $green;
}

.pizza-title {
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: 1em;
    color: $red;
}

.pizza {
    margin-bottom: 1em;
}

body {
    background-color: $light;
}

.order-title {
    font-size: 1.45em;
    font-weight: bold;
    padding-bottom: 1.15em;
}

.order-summary-pizza-title {
    font-size: 1.15em;
    font-weight: bold;
}

.order-summary-pizza-item {
    padding-top: 1.15em;
}

.order-summary {
    height: 80vh;
    top: 0;
    position: sticky;
}

.order-summary-orders {
    overflow-y: auto;
    margin-bottom: 1em;
    padding-bottom: 1em;
    height: 60%;
}

.contact-information-title {
    font-size: 1.15em;
    font-weight: bold;
}

.mobile-menu {
    position: sticky;
    top: 0;
    background-color: $light;
    z-index: 100;
}

.viewport-toggle {
  .mobile {
    @media (min-width: 768px){
      display: none;
    }
  }
  .desktop {
    @media (max-width: 767px){
      display: none;
    }
  }
}

#sq-payment-form {
    width: 100%
}

$tabs-link-active-border-bottom-color: $green;
$tabs-link-active-color: $green;

@import "~bulma/bulma.sass"; 